[submodule "dwl"]
	path = ./suckless/dwl/
	url = https://codeberg.org/20Finger-Squared/dwl.git

[submodule "dwm"]
	path = ./suckless/dwm/
	url = https://github.com/20Finger-Squared/dwm.git

[submodule "wmenu"]
	path = ./suckless/wmenu/
